<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/scripts.js"></script>
        <title>
            404 Page Not Found | Kltool
        </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>404</h4>
                    <p>Oops! Page cannot be found on this server</p>
                </div>
            </div>
        </div>
    </body>
</html>
