<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard | Kltool
        </title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {{>general_css_js}}
        {{>materialize}}
    </head>
    <body class="dashboard">
        <div class="content">
            <div class="container-fluid">
                {{>header}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="kltool-text">
                            Hello, {{firstName}} {{lastName}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                            <span class="card-title">Personal Kanban Board</span>
                            <p>This tool provides a feature to create your personal Kanban board to manage your day to day tasks.</p>
                            </div>
                            <div class="card-action">
                                <a href="/kanban-board" data-toggle="modal" data-target="#addBoard">Create your board</a>
                                <a href="/boards">Visit your boards</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                            <span class="card-title">Notes</span>
                            <p>You can save all your learnings here. This tool provides a feature to add, edit or remove your notes.</p>
                            </div>
                            <div class="card-action">
                            <a href="/notes">Add your notes now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="addBoard">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="/add/board">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Board</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-field">
                                <input type="text" id="board_title" name="board_title" required />
                                <label>Title</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="board_description" name="board_description" required />
                                <label>Description</label>
                            </div>
                            <div class="input-field">
                                <select name="board_layout" id="board_layout" required>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <label># of Columns</label>
                            </div>
                            <div class="input-field column_title">
                                <input type="text" name="column[0]" required>
                                <label>Column 1 title</label>
                            </div>
                            <div class="input-field column_title">
                                <input type="text" name="column[1]" required>
                                <label>Column 2 title</label>
                            </div>
                            <div class="input-field column_title">
                                <input type="text" name="column[2]" required>
                                <label>Column 3 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[3]">
                                <label>Column 4 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[4]">
                                <label>Column 5 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[5]">
                                <label>Column 6 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[6]">
                                <label>Column 7 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[7]">
                                <label>Column 8 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[8]">
                                <label>Column 9 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[9]">
                                <label>Column 10 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[10]">
                                <label>Column 11 title</label>
                            </div>
                            <div class="input-field column_title d-none">
                                <input type="text" name="column[11]">
                                <label>Column 12 title</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn kltool-button">Create Board</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{>footer}}
        <script src="/js/scripts.js"></script>
    </body>
</html>