<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard | Kltool
        </title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {{>general_css_js}}
        {{>materialize}}
    </head>
    <body class="dashboard">
        <div class="content">
            <div class="container-fluid">
                {{>header}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="kltool-text">
                            Hello, {{firstName}} {{lastName}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Personal Kanban Board</span>
                                <p>This tool provides a feature to create your personal kanban board to manage your day to day tasks.</p>
                            </div>
                            <div class="card-action">
                                <a href="/boards" data-toggle="modal" data-target="#addBoard">Create board</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Check your boards</span>
                                <p>You can always check your boards and manage tasks. Visit all the boards created, by clicking on the below link.</p>
                            </div>
                            <div class="card-action">
                                <a href="/boards">Visit all boards</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Default board</span>
                                <p>We have also created a ready-made personal kanban board for you, which you can use to manage your tasks.</p>
                            </div>
                            <div class="card-action">
                                <a href="/default-board">Check board</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Notes</span>
                                <p>You can save all your learnings here. This tool provides a feature to add, edit or remove your notes.</p>
                            </div>
                            <div class="card-action">
                                <a href="/notes">Add your notes now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Kltool Vision</span>
                                <p>Use this tool to fetch text from image.</p>
                            </div>
                            <div class="card-action">
                                <a href="/kltool-vision">Try now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 card-layout">
                        <div class="card deep-purple lighten-2 darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Kltool AI</span>
                                <p>Use our virtual assistant to get answer to your queries.</p>
                            </div>
                            <div class="card-action">
                                <a href="/kltool-ai">Say hello to virtual assistant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>create_board_modal}}
        {{>footer}}
        <script src="/js/scripts.js"></script>
    </body>
</html>