<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Password | Kltool
        </title>
        {{>general_css_js}}
        {{>materialize}}
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body class="login-page">
        <div class="content">
            <div class="container-fluid">
                {{>header_anonymous}}
            </div>
            <div class="container">
                <form method="post" action="/forgot-password">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="kltool-text">
                                Provide your username
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="error">{{ error }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="message">{{{ message }}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="input-field">
                                <input type="text" name="username" size="50" required>
                                <label>Username</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <button type="submit" class="btn kltool-button">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <p class="kltool-text">Don't have an account? <a href="/register">Sign up</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <p class="kltool-text">Know you login credentials? <a href="/">Sign in</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{>footer}}
        <script src="/js/scripts.js"></script>
    </body>
</html>