<!DOCTYPE html>
<html>
    <head>
        {{>general_css_js}}
        {{>materialize}}
        <title>
            Forgot Password | Kltool
        </title>
    </head>
    <body class="login-page">
        <div class="container">
            <form method="post" action="/forgot-password">
                <div class="row">
                    <h5 class="kltool-text">
                        Provide your username
                    </h5>
                </div>
                <div class="row">
                    <div class="error">{{ error }}</div>
                </div>
                <div class="row">
                    <div class="message">{{{ message }}}</div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="username" size="50" required>
                        <label>Username</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn kltool-button">Submit</button>
                </div>
                <div class="row">
                    <p class="kltool-text">Don't have an account? <a href="/register">Sign up</a></p>
                </div>
                <div class="row">
                    <p class="kltool-text">Know you login credentials? <a href="/">Sign in</a></p>
                </div>
            </form>
        </div>
    </body>
    {{>footer}}
</html>