<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title>
            Ktools
        </title>
    </head>
    <body>
        <div>
            <h1>
                Welcome to Kltools!
            </h1>
        </div>
    </body>
</html>