<!DOCTYPE html>
<html>
    <head>
        <title>
            User Login | Kltool
        </title>
        {{>general_css_js}}
        {{>materialize}}
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body class="login-page">
        <div class="container">
            <form method="post" action="/user/login">
                <div class="row">
                    <div class="col-12">
                        <h4 class="kltool-text">
                            Welcome to Kltool!
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="error">{{error}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="message">{{message}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="input-field">
                            <input type="text" name="username" size="50" required>
                            <label>Username</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="input-field">
                            <input type="password" name="password" size="50" required>
                            <label>Password</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <button type="submit" class="btn kltool-button">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <p class="kltool-text"> Don't have an account? <a href="/register">Sign up</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <p class="kltool-text"> Forgot Password? <a href="/forgot-password">Click here</a></p>
                    </div>
                </div>
            </form>
        </div>
        {{>footer}}
        <script src="/js/scripts.js"></script>
    </body>
</html>