<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/scripts.js"></script>
        <title>
            User Login | Kltool
        </title>
    </head>
    <body>
        <div class="container">
            <form method="post" action="/user/login">
                <div class="row">
                    <h4>
                        Welcome to Kltool!
                    </h4>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="username" size="30" required>
                        <label>Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="password" name="password" size="30" required>
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn">Login</button>
                </div>
                <div class="row">
                    <p> Don't have an account? <a href="/register">Sign up</a></p>
                </div>
            </form>
        </div>
    </body>
</html>