<!DOCTYPE html>
<html>
    <head>
        <title>
            Kanban board | Kltool
        </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="kanban-board">
        <div class="container">
            {{>header}}
            <div class="row">
                <div class="col s12">
                    <h5 class="page_title">Board <button title="Add Card" type="button" data-toggle="modal" data-target="#addCard">+</button></h5>
                </div>
            </div>
            <div class="row">
                <div class="col x12 s3 todo">
                    <h6>To Do</h6>
                    <div class="cards">
                        {{#each cards}}
                            {{#cardsStatus this.status 'todo'}}
                                {{>card}}
                            {{/cardsStatus}}
                        {{/each}}
                    </div>
                </div>
                <div class="col x12 s3 inprogress">
                    <h6>In Progress</h6>
                    <div class="cards">
                        {{#each cards}}
                            {{#cardsStatus this.status 'in_progress'}}
                                {{>card}}
                            {{/cardsStatus}}
                        {{/each}}
                    </div>
                </div>
                <div class="col x12 s3 completed">
                    <h6>Completed</h6>
                    <div class="cards">
                        {{#each cards}}
                            {{#cardsStatus this.status 'done'}}
                                {{>card}}
                            {{/cardsStatus}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="addCard">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="/add/card">
                        <div class="modal-header">
                            <h5 class="modal-title">New Card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-field">
                                <input type="text" name="card_title" required />
                                <label>Task</label>
                            </div>
                            <div class="input-field">
                                <textarea name="card_description" class="materialize-textarea"></textarea>
                                <label>Description</label>
                            </div>
                            <div class="input-field">
                                <select name="card_status" required>
                                    <option value="todo" selected>To Do</option>
                                    <option value="in_progress">In Progress</option>
                                    <option value="done">Completed</option>
                                </select>
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn kltool-button">Add Card</button>
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="editCard">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="/update/card">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Card</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-field">
                                <input type="hidden" id="card_id" name="card_id" />
                            </div>
                            <div class="input-field">
                                <input type="text" id="card_title" name="update_card_title" required />
                                <label>Task</label>
                            </div>
                            <div class="input-field">
                                <textarea id="card_description" name="update_card_description" class="materialize-textarea"></textarea>
                                <label>Description</label>
                            </div>
                            <div class="input-field" >
                                <select name="update_card_status" id="card_status" required>
                                    <option value="todo" selected>To Do</option>
                                    <option value="in_progress">In Progress</option>
                                    <option value="done">Completed</option>
                                </select>
                                <label>Status</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn kltool-button">Update Card</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{>general_css_js}}
        {{>materialize}}
    </body>
</html>