<!DOCTYPE html>
<html>
    <head>
        {{>general_css_js}}
        {{>materialize}}
        <title>
           User Registration | Kltool
        </title>
    </head>
    <body class="registration">
        <div class="container">
            <form method="post" action="/user/registration">
                <div class="row">
                    <h4>
                        Get Started
                    </h4>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="username" size="50" required>
                        <label>Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="first_name" size="50" required>
                        <label>First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="last_name" size="50" required>
                        <label>Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="password" name="password" size="50" required>
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn kltool-button" type="submit">Get Started</button>
                </div>
                <div class="row">
                    <p>Already have an account? <a href="/">Sign in</a></p>
                </div>
            </form>
        </div>
    </body>
</html>