<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/scripts.js"></script>
        <title>
           User Registration | Kltool
        </title>
    </head>
    <body>
        <div class="container">
            <form method="post" action="/user/registration">
                <div class="row">
                    <h4>
                        Get Started
                    </h4>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="icon_prefix" type="text" name="username" size="50" required>
                        <label for="icon_prefix">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="icon_prefix" type="text" name="first_name" size="50" required>
                        <label for="icon_prefix">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="icon_prefix" type="text" name="last_name" size="50" required>
                        <label for="icon_prefix">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="icon_prefix" type="password" name="password" size="50" required>
                        <label for="icon_prefix">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn" type="submit">Get Started</button>
                </div>
                <div class="row">
                    <p>Already have an account? <a href="/">Sign in</a></p>
                </div>
            </form>
        </div>
    </body>
</html>