<div class="col-md-4 cards" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    {{#each cards}}
        {{#cardsStatus this.status '0'}}
            {{>card}}
        {{/cardsStatus}}
    {{/each}}
</div>
<div class="col-md-4 cards" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    {{#each cards}}
        {{#cardsStatus this.status '1'}}
            {{>card}}
        {{/cardsStatus}}
    {{/each}}
</div>
<div class="col-md-4 cards" ondrop="drop(event, this)" ondragover="allowDrop(event)">
    {{#each cards}}
        {{#cardsStatus this.status '2'}}
            {{>card}}
        {{/cardsStatus}}
    {{/each}}
</div>