<div class="footer">
    <div class="container-fluid">
        {{!-- <div class="row">
            <div class="col-xs-4">
                <p>
                    <a href="/user/profile" class="btn deep-purple lighten-2 kltool-button">My Profile</a>
                <p>
            </div>
            <div class="col-xs-4">
                <form method="post" action="/user/logout">
                    <button type="submit" class="btn deep-purple lighten-2 kltool-button">Logout</button>
                </form>
            </div>
            <div class="col-xs-4">
                <form method="post" action="/user/logout-all">
                    <button type="submit" class="btn deep-purple lighten-2 kltool-button">Logout from all devices</button>
                </form>
            </div>
        </div> --}}
        <div class="row">
            <div class="col-xs-12">
                <span>© 2020 Kltool</span>
            </div>
        </div>
    </div>
</div>