<div class="footer">
  <div class="container-fluid">
    {{! <div class="row">
            <div class="col-xs-4">
                <p>
                    <a href="/user/profile" class="btn deep-purple lighten-2 kltool-button">My Profile</a>
                <p>
            </div>
            <div class="col-xs-4">
                <form method="post" action="/user/logout">
                    <button type="submit" class="btn deep-purple lighten-2 kltool-button">Logout</button>
                </form>
            </div>
            <div class="col-xs-4">
                <form method="post" action="/user/logout-all">
                    <button type="submit" class="btn deep-purple lighten-2 kltool-button">Logout from all devices</button>
                </form>
            </div>
        </div>
        <div class="row"> }}
    <div class="col-12"><p></p></div>
    <div class="col-12">
      <p class="text-center copyright-text">© 2022 Kltool</p>
    </div>
    <div class="col-12">
      <p class="text-center copyright-text">Developed by Vatsal Khanna</p>
    </div>
    {{! </div> }}
  </div>
</div>