<div class="header">
    <ul id="dropdown" class="dropdown-content">
        <li>
            <form method="post" action="/user/logout">
                <button type="submit" class="deep-purple">Logout from this device</button>
            </form>
        </li>
        <li>
            <form method="post" action="/user/logout-all">
                <button type="submit" class="deep-purple">Logout from all devices</button>
            </form>
        </li>
    </ul>

    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger d-block"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper deep-purple">
            <a href="/" class="brand-logo">Kltool</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/user/profile">My Profile</a></li>
                <li><a href="" class="delete-account">Delete my account</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Logout<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

  <ul id="slide-out" class="sidenav">
    <li><a href="/user/profile"><i class="material-icons">person</i>My Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/kanban-board">My board</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/notes">My notes</a></li>
    <li><div class="divider"></div></li>
    <li class="d-sm-none"><a class="subheader">Logout</a></li>
    <li class="d-sm-none">
        <form method="post" action="/user/logout">
            <button type="submit">Logout from this device</button>
        </form>
    </li>
    <li class="d-sm-none">
        <form method="post" action="/user/logout-all">
            <button type="submit">Logout from all devices</button>
        </form>
    </li>
    <li class="d-sm-none"><div class="divider"></div></li>
    <li class="d-sm-none"><a href="#" class="delete-account">Delete my account</a></li>
  </ul>
</div>