<div class="w-100"></div>
<div class="note" class="note-link" data-note-id={{this._id}}>
    <label>
        <span>
            <a href="">
                <p class="note_title">{{ this.title }}</p>
            </a>
        </span>
    </label>
</div>